include sshpilot/vendor/pyxtermjs/*.html
include sshpilot/vendor/pyxtermjs/LICENSE
recursive-include sshpilot/plugins/builtin *.json
recursive-include sshpilot/plugins/examples *.json *.md
include sshpilot/plugins/examples/easyenv_workspaces/stub/easyenv

