#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_NAME = sshpilot

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr

override_dh_auto_build:
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	# Compile GLib schemas
	glib-compile-schemas debian/sshpilot/usr/share/glib-2.0/schemas/

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/
	rm -rf *.egg-info/

override_dh_python3:
	dh_python3 --requires=requirements.txt